[Unit]
Description=robonomics-drex startup service

After=network.target


[Service]
Type=simple
Restart=always
RestartSec=15

#Edit these lines. Insert mnemonic key
User = ubuntu
Environment=seed="sea calm shoe boss excuse unlock blossom member very another exile finish"
ExecStart= /usr/bin/python3 /home/robonomics-drex-demo/services/main.py ${seed}

[Install]
WantedBy=multi-user.target