[Unit]
Description=robonomics-drex-demo startup service
After=network.target


[Service]
Type=simple
Restart=always
RestartSec=15

#Edit these lines. Insert mnemonic key
#EnvironmentFile=/etc/systemd/system/.env
User = pi
ExecStart= /usr/bin/python3 /home/pi/robonomics-rpi-drex/src/main.py

[Install]
WantedBy=multi-user.target